<!DOCTYPE html>
<html>
<head>
  <title>Rack-Metrics</title>
  <%= airbrake_javascript_notifier %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <div class="page-wrapper">
    <!-- header-11 -->
    <header>
      <div class="container">
        <div class="row">
          <div class="navbar col-sm-12" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle"></button>
                <a class="brand" href="/"><%= image_tag 'logo-small.png' %> Rack Metrics</a>
            </div>
            <div class="collapse navbar-collapse pull-right">
              <%= render_navigation %>
              <% unless user_signed_in? %>
              <p class="navbar-text pull-left text-center">
                <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary' %>
              </p>
              <% end %>
            </div>
            </div>
          </div>
      </div>
    </header>
    <%= yield %>
  </div>
</div>
<footer class="bg-midnight-blue">
  <div class="container">
    <nav class="pull-left">
    </nav>
    <div class="badges pull-right">
    </div>
  </div>
</footer>
</body>
</html>
